<!-- views/partials/footer.ejs -->


<div class="text-center">
    <p class="text-center text-muted" style="color:black">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> © Copyright 2020 Digi-Talent
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i></p>


</div>
