<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Test Vanilla</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/dataTables.bootstrap.min.css">

<style>
    body {
        padding-top: 50px;
    }
</style>