<!-- views/partials/header.ejs -->

<header class="header black-bg">

    <!--logo start-->
    <a class="logo"> <i style="color:#ed5565;" class="fa fa-check-square-o"></i> <b> TEST <span> VANILLA
                PAY</span></b></a>



</header>
